#rules{
    width: 100%;
    height: 50vh;
    background-color: #30536a;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    position: absolute;
}
#rules-holder{
    height: 50vh;
    width: 100%;
}

.rule-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    color: white;
}
#imgPart{
    height: 30%;
    margin: 0;
    overflow: hidden;
    min-width: 94.5px;
    min-height: 94.5px;
}
.rule-container img{
    filter: invert();
    margin: 0;
}
.ruleIcon{
    transition: all 1s ease-in-out;
    height: 90%;
    aspect-ratio: 1;
}
.rule-container *{
    margin: 40px;
}
#textPart{
    margin: 0;
    overflow-y: hidden;
    height: 100%;
}
#textPart ul{
    padding-left: 0;
    height: 75%;
    overflow-y: auto;
}
#textPart ul li{
    margin: 0;
    margin-bottom: 25px;
}
.ruleText{
    margin: 0;
    height: 100%;
    align-content: center;
    transition: all 1s ease-in-out;
}
.ruleText h1{
    margin-top: 0;
    margin-bottom: 0;
}
#rule-controls{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 50px;
    width: fit-content;
    height: fit-content;
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

.rule-control{
    margin: 0;
    border-radius: 50%;
    
}
.rule-control:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
#down{
    rotate: 180deg;
    margin-top: 20px;
}

@media (max-width:680px){
    #rules, #rules-holder{
        height: 80vh;
    }
    .rule-container{
        flex-direction: column;
    }
    #imgPart{
        height: 0;
        width: 0;
        margin-bottom: 5px;
    }
    .ruleIcon{
        height: auto;
        width: 100%;
    }
    #textPart ul{
        margin: 20px;
    }
}