#empty{
    height: 110vh;
    width: 100%;
}
#container {
    width: 100%;
    height: 105vh;
    display: flex;
    background-color: white;
    align-items: center;
    justify-content: center;
}

#logo {
    width: 90vh;
    min-width: 100px;
    max-width: 50vh;
    aspect-ratio: 1;
    margin: 10px;
}

#name {
    margin: auto;
}
.nav-menu {
    background-color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    top: 0;
    z-index: 10;
    height: 10vh;
}

.nav-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.nav-menu li {
    display: inline-block;
    position: relative;
    font-family: "Roboto";
    font-size: 15px;
    width: 11vw;
}

.nav-menu li:hover a:hover {
    color: #ffa500;
}

.nav-menu a {
    color: #002868;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    display: block;
    padding: 10px;
}

.dropdown {
    position: absolute;
    opacity: 0;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    z-index: -10;
    min-width: 160px;
    box-sizing: border-box;
    width: 100%;
    transition: opacity 0.5s;
}

.nav-menu li:hover .dropdown {
    display: flex;
    opacity: 1;
    flex-direction: column;
    flex-shrink: 1;
    z-index: 1;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-shrink: 1;
}

.dropdown-content a {
    color: #002868;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    margin: 0;
}