body{
    padding: 0;
    margin: 0;
    font-family: "Roboto";
}
body *{
    margin: 0;
}
#transition{
    position: absolute;
    z-index: 5;
    height: 400vh;
    width: 400%;
    background-color: white;
    opacity: 0;
    transition: opacity 0.4s;
}
#school-title {
    font-size: 4em;
    color: #002868;
    font-family: 'Old English Text MT', serif;
    vertical-align: middle;
    font-weight: bold;
}

#school-title-2 {
    padding-left: 10px;
    font-size: 2.5em;
    color: #002868;
    vertical-align: middle;
    font-weight: bold;
}