body{
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    width: 100%;
}
#empty{
    height: 110vh;
    width: 100%;
    transition: all 0.5s;
}
#container {
    width: 100%;
    height: fit-content;
    display: flex;
    background-color: white;
    transition: all 0.5s;
}

#logo {
    transition: all 0.5s;
    height: 10vh;
    width: 10vh;
    min-width: 100px;
    min-height: 100px;
    margin: 10px;
}

#name {
    margin: auto;
    transition: all 0.5;
    height: max(10vh, fit-content);
    width: calc(100vw - 10vh);
}
.nav-menu {
    background-color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    height: max(10vh, fit-content)
}

.nav-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
}

.nav-menu li {
    display: inline-block;
    position: relative;
    font-family: "Roboto";
    font-size: 15px;
    width: min(11vw, fit-content);
    min-width: 100px;
}

.nav-menu li:hover a:hover {
    color: #ffa500;
}

.nav-menu a {
    color: #002868;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    display: block;
    padding: 10px;
}

.dropdown {
    position: absolute;
    opacity: 0;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    z-index: -10;
    min-width: 160px;
    box-sizing: border-box;
    width: 100%;
    transition: opacity 0.5s;
}

.nav-menu li:hover .dropdown {
    display: flex;
    opacity: 1;
    flex-direction: column;
    flex-shrink: 1;
    z-index: 1;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-shrink: 1;
}

.dropdown-content a {
    color: #002868;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    margin: 0;
}

@media (max-width:800px){
    .nav-menu ul{
        flex-wrap: wrap;
    }
}